dj_database_url==0.5.0
Django==4.0.2
django_heroku==0.3.1
extract_patches==0.1.31
joblib==1.1.0
keras==2.9.0
numpy==1.21.6
opencv_python==4.6.0.66
scikit_image==0.19.3
scikit_learn==1.1.1
scipy==1.4.1
skimage==0.0
